<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Acerca De
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <img src="https://images.pexels.com/photos/2115256/pexels-photo-2115256.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="No se puede cargar imagen">
  <ion-card-content>
    <ion-label>Transact App es una aplicación desarrollada para probar la publicación de una app utilizando Ionic 4</ion-label>
  </ion-card-content>
</ion-card>
</ion-content>
