<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      PERSONA
    </ion-title>
    <ion-label>[{{actionType}}]</ion-label>
  </ion-toolbar>
</ion-header> -->
<app-header [titulo]="'Persona'"></app-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="aceptar()">

    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

          <ion-item text-center lines="none">
            <ion-label class="accion">[{{actionType}}]</ion-label>
          </ion-item>

          <div padding>
            <ion-label class="datos">[Datos Persona]</ion-label>
            <ion-item>
              <ion-label position="floating">Nombre:</ion-label>
              <ion-input formControlName="txtNombre" [(ngModel)]='baseEntity.strNombre' type="text"></ion-input>
            </ion-item>
            <app-show-error [control]="form.get('txtNombre')" [field]="'nombre'" [lenght]='50' [extra]="'Solo letras'">
            </app-show-error>

            <ion-item>
              <ion-label position="floating">Apellido Paterno:</ion-label>
              <ion-input formControlName="txtAPaterno" [(ngModel)]='baseEntity.strAPaterno' type="text"></ion-input>
            </ion-item>
            <app-show-error [control]="form.get('txtAPaterno')" [field]="'apellido paterno'" [lenght]='50'
              [extra]="'Solo letras'"></app-show-error>

            <ion-item>
              <ion-label position="floating">Apellido Materno:</ion-label>
              <ion-input formControlName="txtAMaterno" [(ngModel)]='baseEntity.strAMaterno' type="text"></ion-input>
            </ion-item>
            <app-show-error [control]="form.get('txtAMaterno')" [field]="'apellido materno'" [lenght]='50'
              [extra]="'Solo letras'"></app-show-error>

            <ion-item>
              <ion-label position="floating">Fecha Nacimiento:</ion-label>
              <ion-datetime formControlName="txtFechaNacimiento" [(ngModel)]='baseEntity.dteFechaNacimiento' type="text">
              </ion-datetime>
            </ion-item>
            <app-show-error [control]="form.get('txtFechaNacimiento')" [field]="'Fecha Nacimiento'" [lenght]='50'
              [extra]="'Solo letras'"></app-show-error>

            <ion-item>
              <ion-label position="floating">Curp:</ion-label>
              <ion-input formControlName="txtCurp" [(ngModel)]='baseEntity.strCurp' type="text"></ion-input>
            </ion-item>
            <app-show-error [control]="form.get('txtCurp')" [field]="'curp'" [lenght]='50' [extra]="'Formato de CURP'">
            </app-show-error>

            <ion-item>
              <ion-label position="floating">Correo Electrónico:</ion-label>
              <ion-input formControlName="txtCorreo" [(ngModel)]='baseEntity.strCorreoElectronico' type="text">
              </ion-input>
            </ion-item>
            <app-show-error [control]="form.get('txtCorreo')" [field]="'correo electronico'" [lenght]='50'
              [extra]="'Formato de correo electronico'"></app-show-error>
            <br>
            <ion-label class="datos">[Datos Usuario]</ion-label>

            <ion-item>
              <ion-label position="floating">Usuario:</ion-label>
              <ion-input formControlName="txtUsuario" [(ngModel)]='baseEntity.strUsuario' type="text"></ion-input>
            </ion-item>
            <app-show-error [control]="form.get('txtUsuario')" [field]="'usuario'" [lenght]='50' [extra]="''">
            </app-show-error>

            <ion-item>
              <ion-label position="floating">Contraseña:</ion-label>
              <ion-input formControlName="txtPassword" [(ngModel)]='baseEntity.strPassword' type="text"></ion-input>
            </ion-item>
            <app-show-error [control]="form.get('txtPassword')" [field]="'contraseña'" [lenght]='50' [extra]="''">
            </app-show-error>


          </div>

          <div padding>
            <ion-button size="medium" type="submit" expand="block" [disabled]="!form.valid"> Aceptar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

</ion-content>