<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      PERSONA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let p of persona">
      <ion-item>

      </ion-item>
      <ion-item-options>
        <ion-item-option color="default">
          <ion-icon name="eye"></ion-icon>Ver
        </ion-item-option>
        <ion-item-option color="primary">
          <ion-icon name="create"></ion-icon>Editar
        </ion-item-option>
        <ion-item-option color="danger" >
          <ion-icon name="trash"></ion-icon>Delete
        </ion-item-option>
       
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>