<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      PERSONA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let p of persona">
      <ion-item>
       
      </ion-item>
      <ion-item-options>
        <button ion-button (click)="share(slidingItem)">Share</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>