<!--<ion-header>
  <ion-toolbar>
    <ion-title>FrmLogin</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content padding>

  <form [formGroup]="myForm" (ngSubmit)="login()">
      <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center>
                <h4>Pixir Transaction</h4>
                <ion-avatar>
                    <ion-img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg"></ion-img>
                  </ion-avatar>
              </div>
              <div padding>
                <ion-item>
                  <ion-input  formControlName="txtUsuario" [(ngModel)]='usuario.strUsuario' type="text" placeholder="Username"></ion-input>
                </ion-item>
                <app-show-error [control]="myForm.get('txtUsuario')" [lenght]='50' [extra]="'Solo letras'"></app-show-error>

                <ion-item>
                  <ion-input formControlName="txtPassword" [(ngModel)]='usuario.strPassword' type="password" placeholder="Password"></ion-input>
                </ion-item>
                <app-show-error [control]="myForm.get('txtPassword')" [field]="'contraseña'" [lenght]='10' [extra]="'Solo numeros'"></app-show-error>
              </div>
        
              <div padding>
                <ion-button size="large" type="submit"  expand="block" [disabled]="!myForm.valid"> Login</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
   
  </form>

</ion-content>
