<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Transacciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="aceptar()">

    <ion-item text-center lines="none">
      <ion-label class="accion">[{{actionType}}]</ion-label>
    </ion-item>

    <div padding>
      <ion-label class="datos">[Datos Personales]</ion-label>

      <ion-item>
        <ion-label position="floating">Cuenta Actual:</ion-label>
        <ion-input  type="text" disabled >{{this.user.strNombre}}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Fecha Transacción</ion-label>
        <ion-datetime displayFormat="MM DD YYYY" value="this.fechaActual" readonly></ion-datetime>
      </ion-item>
      <app-show-error [control]="form.get('txtFechaTransaccion')" [field]="'txtFechaTransaccion'" [lenght]='50' [extra]="'Solo letras'">
      </app-show-error>

      <ion-label class="datos">[Datos Destinatario]</ion-label>

      <ion-item>
        <ion-label>Usuario Destino:</ion-label>
        <ion-select value="this.listaPersonas.id" okText="Ok" cancelText="Cancelar">
          <ion-select-option *ngFor="let el of this.listaPersonas" value="el.id">{{el.strNombre}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cuenta Referencia:</ion-label>
        <ion-input formControlName="txtCuentaDestinatario" [(ngModel)]='baseEntity.id' type="text"></ion-input>
      </ion-item>
      <app-show-error [control]="form.get('txtCuentaDestinatario')" [field]="'txtNombreDestinatario'" [lenght]='50' [extra]="'Solo letras'">
      </app-show-error>

      <ion-label class="datos">[Información Monto]</ion-label>

      <ion-item>
        <ion-label position="floating">Monto Transferir:</ion-label>
        <ion-input formControlName="txtMontoEnviar" [(ngModel)]='baseEntity.id' type="number"></ion-input>
      </ion-item>
      <app-show-error [control]="form.get('txtMontoEnviar')" [field]="'txtMontoEnviar'" [lenght]='50' [extra]="'Solo letras'">
      </app-show-error>

      <div padding>
        <ion-button size="medium" type="submit" expand="block" [disabled]="!form.valid"> Aceptar</ion-button>
      </div>
    </div>
  </form>
</ion-content>