<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>TRANSACT APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formResetAccount" (ngSubmit)="resetAccount(formResetAccount.value)" novalidate>
    <ion-card>
      <h4>Reestablecer Contraseña</h4>
      <ion-item>
        <ion-label position="floating"><ion-icon name="mail" item-left></ion-icon> Correo Asociado: </ion-label>
        <ion-input type="text" placeholder="correo@ejemplo.com" formControlName="txtCorreoAsociado"></ion-input>
      </ion-item>
      <ion-item *ngIf="formResetAccount.get('txtCorreoAsociado').errors && formResetAccount.get('txtCorreoAsociado').dirty">
        <ion-label *ngIf="formResetAccount.get('txtCorreoAsociado').hasError('required')" color="danger">El campo es requerido</ion-label>
        <ion-label *ngIf="formResetAccount.get('txtCorreoAsociado').hasError('email')" color="danger">No es un correo con formato válido</ion-label>
        <ion-label *ngIf="formResetAccount.get('txtCorreoAsociado').hasError('maxlength')" color="danger">Máximo 50 caracteres</ion-label>
      </ion-item>
      <br>
      <h6>[Datos Inicio Sesión]</h6>

      <ion-item>
          <ion-label position="floating"><ion-icon name="key" item-left></ion-icon> Nueva Contraseña:</ion-label>
          <ion-input type="password"  formControlName="txtPassword"></ion-input>
      </ion-item>
      <ion-item *ngIf="formResetAccount.get('txtPassword').errors && formResetAccount.get('txtPassword').dirty">
        <ion-label *ngIf="formResetAccount.get('txtPassword').hasError('required')" color="danger">El campo es requerido</ion-label>
        <ion-label *ngIf="formResetAccount.get('txtPassword').hasError('maxlength')" color="danger">Máximo 50 caracteres</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="floating"><ion-icon name="key" item-left></ion-icon> Confirmar Contraseña:</ion-label>
          <ion-input type="password"  formControlName="txtPasswordCfrm"></ion-input>
      </ion-item>
      <ion-item *ngIf="formResetAccount.get('txtPasswordCfrm').errors && formResetAccount.get('txtPasswordCfrm').dirty">
        <ion-label *ngIf="formResetAccount.get('txtPasswordCfrm').hasError('required')" color="danger">El campo es requerido</ion-label>
        <ion-label *ngIf="formResetAccount.get('txtPasswordCfrm').hasError('maxlength')" color="danger">Máximo 50 caracteres</ion-label>
      </ion-item>
      <ion-label *ngIf="!formResetAccount.get('txtPasswordCfrm').errors && formResetAccount.get('txtPasswordCfrm').dirty && formResetAccount.hasError('notMatch')" color="danger">Las contraseñas no coinciden</ion-label>
      <ion-button expand="block" type="submit" [disabled]="formResetAccount.invalid">Restaurar</ion-button>
  </ion-card>
  </form>
</ion-content>
