<ion-header>
  <ion-toolbar>
    <ion-title>Reestablecer</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
      <h4>Reestablecer contraseña</h4>
      <ion-label>Confirma correo asociado:</ion-label>
      <ion-input type="text" placeholder="correo@ejemplo.com"></ion-input>
      <br>
      <ion-label>[Datos Inicio Sesión]</ion-label>
      <ion-item-group>
          <ion-label>Nueva Contraseña:</ion-label>
          <ion-input type="password" placeholder="correo@ejemplo.com"></ion-input>
      </ion-item-group>
      <ion-item-group>
          <ion-label>Confirma Contraseña:</ion-label>
          <ion-input type="password" placeholder="correo@ejemplo.com"></ion-input>
      </ion-item-group>
      <ion-button expand="block">Enviar</ion-button>
  </ion-card>
</ion-content>
