<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      NOMBRE APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <ion-item lines="none">
    <ion-avatar slot="start">
      <ion-img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg"></ion-img>
    </ion-avatar>
    <ion-label>Bienvenido .....</ion-label>
  </ion-item>
  <br>
  <ion-item lines="none">

    <ion-label>Número Cuenta:</ion-label>
    <ion-label>
      <!--{persona}-->
    </ion-label>
    <br>
  </ion-item>
  <ion-item lines="none">

    <ion-label>Saldo:</ion-label>
    <ion-label>
      <!--{persona}-->
    </ion-label>
    <br>
  </ion-item>
  <ion-item>
      <ion-label position="stacked">Stacked</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <div slot="start"></div>
        <ion-label>Item Label</ion-label>
        <div slot="end"></div>
      </ion-item>
      
    
</ion-content>